@model Brewsy.Web.ViewModels.Sell.SellIndexVm

@{
    ViewData["Title"] = "Index";
}

@if (!Model.HasStripeAccount)
{
    <div class="container">
        <h2>Sell</h2>
        <p>To sell beers on Brewsy you need a Stripe account. Click the link below to get started.</p>
        <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_7T6H6dr9lNLgPqoXxSkW99M3s55f8IEZ&scope=read_write" class="btn btn-primary">Connect to Stripe</a>
    </div>
}
else
{
    <div class="container">
        <h2>My Beers</h2>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <tr>
                <th>
                    Description
                </th>
                <th>
                    ImageURL
                </th>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Beers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
}